name: run serverless

on:
  push: 
    branches: main


jobs:
  run-serverless-offline:
    runs-on: ubuntu-latest
    environment: test
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: npm

      - run: npm install -g serverless
      - run: npm install

      - name: start serverless offline
        run: npm run test:integrationWithOffline
        env:
          SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
